{{ define "main" }}

<h1>About</h1>

<p>
    Greetings, I am Tamjid Hasan Fahim.
</p>
<p>
    Computer Science & Engineering <strike>freshman</strike> <strike>sophomore</strike> junior-year student at <a href="https://www.ruet.ac.bd" target="_blank">RUET</a>. Wannabe a real computer scientist. <strike>Aspiring polymath.</strike>
</p>
<p>
    Currently grinding in DSA & Competitive Programming. Exploring the research areas. ML/DL/CV Enthusiast. Building <a href="https://dormitory.live" target="_blank">Dormitory</a> one piece at a time. Lots of interests, and too little time.
</p>
<p>
    INTP. Interested in architecture, aviation, cognitive science & technology. Fascinated by low-level workings. Amazed by oceans, forests & mountains, and something else <strike>I can't write down here.</strike>
</p>
<br/>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }} <a href="{{ .Permalink }}"> Read More </a>
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<!-- 
<h1>Latest photos</h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>
-->

{{ end }}