{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ .PublishDate.Format "Jan. 2, 2006" }}
{{ with .Params.linkedin }}
    // <a href="{{ . }}">Linkedin</a>
{{ end }}
{{ with .Params.twitter }}
    // <a href="{{ . }}">Twitter</a>
{{ end }}
<br/><br/>

<!-- Display categories if they exist -->
{{ with .Params.categories }}
<div class="categories">
    Categories: 
    {{ range . }}
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
</div>
{{ end }}

<!-- Display tags if they exist -->
{{ with .Params.tags }}
<div class="tags">
    Tags: 
    {{ range . }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
</div>
{{ end }}
<br/><br/>

{{ .Content }}
{{ template "_internal/disqus.html" . }}
{{ end }}